## 项目：评估和清理巧克力数据

## 分析目标

此数据的分析目的：巧克力的专家评级，地区来源、可可百分比、种类、种植地的关系，以便得出什么样的巧克力的评级最好

# 简介

此数据集包含1700多块巧克力的专家评级，以及关于其地区来源、可可百分比、所用可可豆的种类和豆的种植地的信息。

变量含义：

数据每列的含义如下：
- `Company`: 巧克力生产公司名称
- `Specific Bean Originor Bar Name`: 巧克力起源的特定区域
- `REF`:判断评价输入数据库的时间的值，Higher = 最近
- `ReviewDate`: 评论发表日期
- `CocoaPercent`: 可可含量百分比
- `CompanyLocation`:制造商所在的区域
- `Rating`: 评分。巧克力棒的专业评分
- `BeanType`: 使用的可可豆的品种
- `Broad Bean Origin`: 可可豆的原产地

# 读取数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
original_data = pd.read_csv("flavors_of_cacao.csv")

In [3]:
original_data.head(10)

,Company\n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

# 评估数据

## 整齐度

由于表格的列名太过复杂，做一下修改

In [4]:
original_data = original_data.rename(columns = {'Company\n(Maker-if known)':'Company','Specific Bean Origin\nor Bar Name':'Specific Bean Originor Bar Name','Review\nDate':'ReviewDate','Cocoa\nPercent':'CocoaPercent','Company\nLocation':'CompanyLocation','Bean\nType':'BeanType','Broad Bean\nOrigin':'Broad Bean Origin'})

In [5]:
original_data.head()

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [6]:
original_data.sample(10)

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
745,Guido Castagna,Ghana,355,2009,64%,Italy,3.00,Forastero,Ghana
1496,Sol Cacao,Madagascar,1518,2015,72%,U.S.A.,3.00,Trinitario,Madagascar
238,Bonnat,"Xoconusco, cacao Real",395,2009,75%,France,3.00,Criollo,Mexico
1484,"Smooth Chocolator, The",Akesson's Estate,1622,2015,70%,Australia,3.50,Trinitario,Madagascar
1618,Taza,Belize,1271,2014,68%,U.S.A.,3.00,Trinitario,Belize
10,A. Morin,Panama,1011,2013,70%,France,2.75,,Panama
396,Chocolate Con Amor,Dominican Republic,1764,2016,60%,U.S.A.,3.00,,Dominican Republic
1161,Nahua,"Costa Rica, Oscuro",1049,2013,70%,Costa Rica,3.00,,Costa Rica
471,Cravve,Vanuatu,975,2012,64%,Australia,3.25,Trinitario,Vanuatu
303,Cacao Market,"Jutiapa, lot 050916D",1860,2016,70%,U.S.A.,3.50,Trinitario,Honduras

满足每列是一个变量，每行是一个观察值，每个单元格是一个值

## 干净度

1)先判断是否存在缺失值

In [7]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Company                          1795 non-null   object
 1   Specific Bean Originor Bar Name  1795 non-null   object
 2   REF                              1795 non-null   int64
 3   ReviewDate                       1795 non-null   int64
 4   CocoaPercent                     1795 non-null   object
 5   CompanyLocation                  1795 non-null   object
 6   Rating                           1795 non-null   float64
 7   BeanType                         1794 non-null   object
 8   Broad Bean Origin                1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

有此处可见:
- `BeanType`和`Broad Bean Origin`有缺失值

In [8]:
original_data[original_data["BeanType"].isnull()]

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
1544,Soma,"Three Amigos(Chuao, Wild Bolivia, D.R.)",676,2011,70%,Canada,4.0,NaN,"Ven, Bolivia, D.R."

In [9]:
original_data[original_data["Broad Bean Origin"].isnull()]

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
1072,Mast Brothers,Madagascar,999,2012,72%,U.S.A.,2.5,Trinitario,NaN

除此之外，我们在之前随机展示的表格可以发现：`BeanType`与`Broad Bean Origin`有很多空白，但是不是NaN

In [10]:
original_data[original_data["Broad Bean Origin"] == ' ']

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
77,Amedei,Nine,111,2007,75%,Italy,4.00,Blend,
85,Amedei,Toscano Black,170,2007,63%,Italy,3.50,Blend,
86,Amedei,Toscano Black,40,2006,70%,Italy,5.00,Blend,
87,Amedei,Toscano Black,75,2006,66%,Italy,4.00,Blend,
144,Bahen & Co.,Houseblend,1474,2015,80%,Australia,3.25,,
...,...,...,...,...,...,...,...,...,...
1766,Zak's,"House Blend, Batch 2",1582,2015,60%,U.S.A.,3.00,,
1774,Zokoko,Goddess Blend,1780,2016,65%,Australia,3.25,,
1778,Zotter,Raw,1205,2014,80%,Austria,2.75,,
1780,Zotter,Amazonas Frucht,801,2012,65%,Austria,3.50,,
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,

In [11]:
original_data[original_data["BeanType"] == ' ']

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1787,Zotter,Santo Domingo,879,2012,70%,Austria,3.75,,Dominican Republic
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

由于我们这次的目的是为了探究巧克力评级和地区来源、可可百分比、种类、种植地的关系，因此，这次空缺的数值后续都可以删除

## 评估重复数据

虽然生产公司是特定的，但是一个公司有不同的入库时间、可可含量等，所以可以重复。

## 评估不一致数据

可能出现不一致数据的列：`Specific Bean Originor Bar Name`，`CompanyLocation`，`Broad Bean Origin`

In [12]:
original_data["Specific Bean Originor Bar Name"].value_counts()

Specific Bean Originor Bar Name
Madagascar                        57
Peru                              45
Ecuador                           42
Dominican Republic                37
Venezuela                         21
                                  ..
Conacado, #213, DR, -C             1
Sambirano Valley, #215, MR, MC     1
Chuao, #218, MR, MC                1
Chuao, #217, DR, MC                1
Brazil, Mitzi Blue                 1
Name: count, Length: 1039, dtype: int64

In [13]:
original_data["CompanyLocation"].value_counts()

CompanyLocation
U.S.A.               764
France               156
Canada               125
U.K.                  96
Italy                 63
Ecuador               54
Australia             49
Belgium               40
Switzerland           38
Germany               35
Austria               26
Spain                 25
Colombia              23
Hungary               22
Venezuela             20
Japan                 17
Brazil                17
Peru                  17
Madagascar            17
New Zealand           17
Denmark               15
Vietnam               11
Scotland              10
Guatemala             10
Israel                 9
Costa Rica             9
Argentina              9
Poland                 8
Lithuania              6
Honduras               6
South Korea            5
Nicaragua              5
Sweden                 5
Domincan Republic      5
Ireland                4
Netherlands            4
Fiji                   4
Sao Tome               4
Puerto Rico            4
Mexico                 4
Amsterdam              4
Iceland                3
Singapore              3
Portugal               3
Grenada                3
South Africa           3
Finland                2
Bolivia                2
St. Lucia              2
Chile                  2
Philippines            1
Czech Republic         1
India                  1
Martinique             1
Niacragua              1
Ghana                  1
Wales                  1
Eucador                1
Russia                 1
Suriname               1
Name: count, dtype: int64

In [14]:
original_data["Broad Bean Origin"].value_counts()

Broad Bean Origin
Venezuela                214
Ecuador                  193
Peru                     165
Madagascar               145
Dominican Republic       141
                        ...
Peru, Belize               1
Peru, Mad., Dom. Rep.      1
PNG, Vanuatu, Mad          1
Trinidad, Ecuador          1
Venezuela, Carribean       1
Name: count, Length: 100, dtype: int64

没有发现有不一致的情况

## 评估无效数据或错误数据

In [15]:
original_data.describe()

               REF   ReviewDate       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

由此可见没有数据异常、无效的情况。

# 清理数据

- 删除`BeanType`和`Broad Bean Origin`的缺失值以及空白值

先创建一个新的变量`cleaned_data`,让他成为`original_data`的副本，并且后续更新都在`cleaned_data`上

In [16]:
cleaned_data = original_data.copy()
cleaned_data.head()

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

#### 删除`BeanType`的空缺值

In [17]:
cleaned_data.dropna(subset=["BeanType"], inplace=True)

In [18]:
cleaned_data["BeanType"].isnull().sum()

0

#### 删除`BeanType`的空白

In [19]:
cleaned_data = cleaned_data[cleaned_data["BeanType"] != ' ']

In [20]:
cleaned_data[cleaned_data["BeanType"] == ' ']

Empty DataFrame
Columns: [Company, Specific Bean Originor Bar Name, REF, ReviewDate, CocoaPercent, CompanyLocation, Rating, BeanType, Broad Bean Origin]
Index: []

#### 删除`Broad Bean Origin`的空缺值

In [21]:
cleaned_data.dropna(subset=["Broad Bean Origin"], inplace=True)

In [22]:
cleaned_data["Broad Bean Origin"].isnull().sum()

0

#### 删除`Broad Bean Origin`的空白

In [23]:
cleaned_data = cleaned_data[cleaned_data["Broad Bean Origin"] != ' ']

In [24]:
cleaned_data[cleaned_data["BeanType"] == ' ']

Empty DataFrame
Columns: [Company, Specific Bean Originor Bar Name, REF, ReviewDate, CocoaPercent, CompanyLocation, Rating, BeanType, Broad Bean Origin]
Index: []

# 保存数据

In [25]:
cleaned_data.head()

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
17,A. Morin,Chuao,1015,2013,70%,France,4.00,Trinitario,Venezuela

In [26]:
cleaned_data.to_csv("flacors_of_cacao_cleaned.csv", index=False)

In [28]:
pd.read_csv("flacors_of_cacao_cleaned.csv").head()

,Company,Specific Bean Originor Bar Name,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad Bean Origin
0,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
1,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
2,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
3,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
4,A. Morin,Chuao,1015,2013,70%,France,4.00,Trinitario,Venezuela